<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<form action="/users" th:object="${filter}">
    <label for="firstname">Firstname:
        <input id="firstname" type="text" name="firstname" th:value="*{firstname}">
    </label>
    <label for="lastname">Lastname:
        <input id="lastname" type="text" name="lastname" th:value="*{lastname}">
    </label>
    <label for="birthDate">Birthdate:
        <input id="birthDate" type="date" name="birthDate" th:value="*{birthDate}">
    </label>
    <button type="submit">Filter</button>
</form>
<div th:each="user : ${users}">
    <a th:href="@{'/users/' + ${user.id}}" th:text="|${user.id}. ${user.username}|">User</a>
</div>
</body>
</html>